:root {

    --primary-color: #F08237;
    --secondary-color: #FFFFFF;
    --accent-color: #000000;
    --background: #FFFFFF;

    --text-color: var(--accent-color);

    --top-row-height: 40px;
    --bottom-row-height: 100px;
    --content-width: 960px;

    --border-radius: 4px;

    --transition-speed: 250ms;
}