.recipe-tile-container {
    /* display: flex; */
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    margin: 20px 0;

}

.recipe-tile-link {
    text-decoration: none;
    margin: 10px 20px 10px 0;  
}

.recipe-tile {
    background: var(--secondary-color);
    padding: 20px 15px;
    color: var(--accent-color);
    min-width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.recipe-tile:hover {
    background: var(--primary-color);
    transition: var(--transition-speed);
}

.recipe-tile:hover .recipe-tile-title {
    color: white;
    transition: var(--transition-speed);

}

.recipe-tile:hover .recipe-tile-description {
    color: white;
    transition: var(--transition-speed);
}

.recipe-tile-title {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}

.recipe-tile-description {
    /* text-decoration: none; */
    color: var(--accent-color);
    font-size: 13pt;
    padding-top: 10px;
}