.recipe-tile-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;

}

.recipe-tile-link {
    text-decoration: none;
    margin: 10px 20px 10px 0;  
}

.recipe-tile {
    border: 1px black solid;
    background: var(--secondary-color);
    padding: 10px;
    color: var(--accent-color);
    box-shadow: 1px 1px 7px -1px var(--accent-color);
    
    height: 200px;
    width: 250px;
}

.recipe-tile:hover {
    background: var(--primary-color);
    transition: var(--transition-speed);
}

.recipe-tile-title {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}

.recipe-tile-description {
    /* text-decoration: none; */
    color: var(--accent-color);
    font-size: 13pt;
    padding-top: 10px;
}