@import "global-theme.css"; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    background: var(--background);
    color: var(--text-color);
}

.main {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: auto var(--content-width) auto;
    grid-template-rows: var(--top-row-height) auto auto ;
}

.content {
    
    grid-column: 2 / 3;
    grid-row: 2;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}