:root {
    --navbar-bottom-thickness: 1px;
    --navbar-bottom-color: var(--primary-color);
    --navbar-text-color: var(--accent-color);
    --navbar-hover-color: var(--primary-color);
    --navbar-background: var(--secondary-color);

    --logo-color: var(--primary-color);
    --logo-size: 20pt;
    --logo-weight: normal;

    --navbar-menu-font-size: 11pt;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    max-height: var(--top-row-height);
    grid-row: 1;
    grid-column: 1 / -1;
    background: rgba(255, 255, 255, 0.836);
    backdrop-filter: blur(5px);
}

.navbar-default-background {
    width: 100%;
    min-height: var(--top-row-height);
    grid-row: 1;
    grid-column: 1 / -1;
    z-index: -5;
    background: white;
}

.navbar-content {
    height: 100%;
    width: var(--content-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-logo {
    text-decoration: none;
    font-size: var(--logo-size);
    color: var(--logo-color);
    font-weight: var(--logo-weight);
}

.header-logo:focus {
    outline: none;
}

.nav-link-group {
    min-height: var(--top-row-height);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;

    padding: 0px 10px;

    text-decoration: none;
    font-size: var(--navbar-menu-font-size);
    color: var(--navbar-text-color);
    transition-duration: var(--transition-speed);
}

.nav-item:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
    transition-duration: var(--transition-speed);
 }



 @media screen and (max-width: 1060px) {
    :root {
    }

    .navbar {
        padding-left: 5px;
    }

    .nav-link-group {

    }
}


@media screen and (max-width: 768px) {
    :root {
        --content-width: 100%;
    }
}


@media screen and (max-width: 480px) {
    :root {
        --logo-size: 15pt;
        --navbar-menu-font-size: 10pt;
    }
}

@media screen and (max-width: 320px) {
    :root {
    }
}